body {
	background-color: #bfc2c3;
	text-align: -webkit-center;
	font-family: 'Inter', sans-serif;
	color: darkblue;
}

main {
	width: 500px;
	margin-bottom: 12px;
	margin-top: 12px;
	background-color: gainsboro;
	border-radius: 20px;
	height: 335px;
}

.heder-footer-text {
	text-align: center;
}

.working-window {
	display: flex;
	justify-content: center;
	height: 300px;
	border-radius: 20px;
}

.operand-one {
	display: flex;
   flex-direction: column;
	justify-content: space-around;
}

.operators {
	display: flex;
   flex-direction: column;
	justify-content: space-around;
	width: 50px;
	text-align: center;
}

.operand-two {
	display: flex;
   flex-direction: column;
	justify-content: space-around;
}

.equally {
	display: flex;
   flex-direction: column;
	justify-content: space-around;
	width: 50px;
   text-align: center;
}

.result {
	display: flex;
   flex-direction: column;
	justify-content: space-around;
	width: auto;
}

.input {
	background-color: floralwhite;
}

.button-and-reset{
	border-color: #7c7b83;
	border-radius: 5px;
	color: #0b2933;
}

.button-and-reset:hover {
	border-color: #6b6879;
	background-color: honeydew;
	cursor: pointer;
}

.switch-case {
	display: flex;
   justify-content: left;
   width: 500px;
	margin-top: 15px;
}

.name-operators {
	margin-left: 40px;
	color: #332e2e;
}
